<% layout('layouts/boilerplate')%>
<div class="container mt-4">
  <div class="col m-auto bg-light rounded-5 p-2">
    <h2 class="mb-5 text-center text-success">Liste <%= acte %>
    </h2>
    <div class="d-flex mb-2 justify-content-center ">
     
          <div class="form-floating col-3 me-2">
            <select
              id="age"
              name="age"
              class="form-select"
              required
              onchange="filter(12)"
            >
              <!-- <option selected disabled >Age</option> -->
              <option class="option" value="all" selected> Tous </option>
              <option class="option" value="above"> +12 </option>
              <option class="option" value="below"> -12 </option>
            </select>

            <label id="hide" for="acte" class="form-label">Age</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div  class="form-floating col-3 me-2">
            <input class="form-control" type="date" id="start" name="start">
            <label id="hide" for="start" class="form-label">De:</label>

          </div>
          <div class="form-floating col-3">
            <input class="form-control" onkeydown="filter(12)" type="date" id="end" name="end">
            <label id="hide" for="end" class="form-label">A:</label>
          </div>
        </div>
      </div>
      <form class="d-flex mt-2">
        <input id="search" class="form-control mb-2" type="search" placeholder="Search" aria-label="Search" />
      </form>
      <table class="table table-striped table-hover table-borderless text-center shadow sortable" id="patientTable">
        <thead class="table-success">
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Age</th>
            <th scope="col">Téléphone</th>
             <th scope="col">Medecin</th>
            <th scope="col">Technicien</th>
            <th scope="col">Date acte</th>
            <th scope="col">Commentaire</th>


          </tr>
        </thead>
        <tbody id="tablebody">
          <% var i=1 %>
          <% for (patient of patients){%>
          <% for (consultation of patient.sortedConsultation){%>
          <% if (consultation.acte.toLowerCase()===acte.toLowerCase()){%>
          <tr>
            <th class="clickable " onclick="window.location='/patient/<%=patient.id%>'" scope="row">
              <%= i%>
              <% i=i+1; %>
            </th>
            <td class="clickable " onclick="window.location='/patient/<%=patient.id%>'">
              <%= patient.lastname.toUpperCase()%>
            </td>
            <td class="clickable " onclick="window.location='/patient/<%=patient.id%>'">
              <%=patient.firstname.toUpperCase()%>
            </td>
            <td class="clickable " onclick="window.location='/patient/<%=patient.id%>'">
              <%= patient.age%>
            </td>
            <td class="clickable " onclick="window.location='/patient/<%=patient.id%>'">
              <%= patient.phone%>
            </td>
             <td class="clickable " onclick="window.location='/patient/<%=patient.id%>'">
             Dr. <%=consultation.medecin.toUpperCase()%>
            </td>
            <td class="clickable " onclick="window.location='/patient/<%=patient.id%>'">
              <%=consultation.technicien.toUpperCase()%>
            </td>
            <td class="clickable " onclick="window.location='/patient/<%=patient.id%>'">
              <%=moment(consultation.date).format("DD/MM/YYYY")%>
            </td>
            <td class="text-center data">
              <%-include("../commentViewer")%>
          </td>
          </tr>
          <% }}}%>
        </tbody>
      </table>
    </div>
  </div>