<button
  type="button"
  class="me-2 btn btn-outline-warning px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#edit-<%= article.id %>"
>
  <i class="bi bi-pencil-fill"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="edit-<%= article.id %>"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modifier Article</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          required
        ></button>
      </div>

      <div class="modal-body">
        <form
          class="row g-3 needs-validation"
          action="/materiel/<%= materiel.id %>/article/<%= article.id %>?_method=PUT"
          id="personal"
          method="POST"
          novalidate
        >
        <div class="form-floating mb-3">
          <select
            id="etat"
            name="article[etat]"
            class="form-select"
            required
          >
            
            <% if (article.etat === 'Reçu'){%>
            <option class="option" value="Reçu" selected>Reçu</option>
            <option class="option" value="Commandé">Commandé</option>
            <option class="option" value="Retour">Retour</option>
            <% }else if (article.etat === 'Commandé'){ %>
              <option class="option" value="Reçu" >Reçu</option>
              <option class="option" value="Commandé" selected>Commandé</option>
              <option class="option" value="Retour">Retour</option>
              <% } else { %>
                <option class="option" value="Reçu" >Reçu</option>
                <option class="option" value="Commandé" >Commandé</option>
                <option class="option" value="Retour" selected>Retour</option>
            
            <% } %>
          </select>
          <label for="etat" class="form-label">Etat</label>
          <div class="valid-feedback">BIEN</div>
        </div>

          <div class="form-floating mb-3 col-md-3">
            <input
              id="articleserie"
              name="article[serie]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              value="<%= article.serie %>"
              autofocus
              
            />
            <label for="articlelserie" class="form-label">N° Série</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating mb-3 col-md-3">
            <input
              id="articlelot"
              name="article[lot]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              autocomplete="off"
              value="<%= article.lot %>"
              
            />
            <label for="articlelserie" class="form-label">N° Lot</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating mb-3 col-md-3">
            <input
              id="articlemarque"
              name="article[marque]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              value="<%= article.marque %>"
              
            />
            <label for="articlemarque" class="form-label">Marque</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating mb-3 col-md-3">
            <input
              id="articlequantite"
              name="article[quantite]"
              type="number"
              class="form-control"
              style="text-transform: capitalize"
              autocomplete="off"
              value="<%= article.quantite %>"
              required
            />
            <label for="articlequantite" class="form-label">Quantité</label>
            <div class="valid-feedback">BIEN</div>
          </div>
       
          <div class="form-floating mb-3 col-md-6">
            <input class="form-control" type="date" id="ddp"
            name="article[ddp]" placeholder="DDP"
            value="<%=moment(article.ddp).format("YYYY-MM-DD")%>" />
            <label for="ddp" class="form-labelfs-6">DDP</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating mb-3 col-md-6">
            <input class="form-control" type="date" id="dateachat"
            name="article[dateachat]" placeholder="date de l'achat"
            value="<%=moment(article.dateachat).format("YYYY-MM-DD")%>" />
            <label for="dateachat" class="form-labelfs-6">Date d'achat</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating mb-3 col-md-12">
            <input
              id="articlefrournisseur"
              name="article[fournisseur]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              value="<%= article.fournisseur %>"
            />
            <label for="articlelfrournisseur" class="form-label"
              >Frournisseur</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating mb-3 col-md-4">
            <input
              id="articlebc"
              name="article[bc]"
              type="number"
              class="form-control"
              value="<%= article.bc %>"
            />
            <label for="articlebc" class="form-label">BC</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating mb-3 col-md-4">
            <input
              id="articlebl"
              name="article[bl]"
              type="number"
              class="form-control"
              value="<%= article.bc %>"
            />
            <label for="articlebl" class="form-label">BL</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating mb-3 col-md-4">
            <input
              id="articlefc"
              name="article[fc]"
              type="number"
              class="form-control"
              value="<%= article.fc %>"
            />
            <label for="articlefc" class="form-label">FC</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="modal-footer mt-3">
            <button
              type="button"
              class="btn btn-outline-danger"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button
              type="submit"
              id="article-edit"
              class="btn btn-outline-warning"
            >
              Modifier
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
