<% layout('layouts/boilerplate')%>


<div class="container mt-3">

    <div class="col m-auto">
        <div class="container-fluid">

            <div class=" mb-4 bg-light rounded-5 px-2">

                <div class="d-flex">
                    <div class="col d-flex m-auto">
                        <h2>
                            <%=materiel.designation %>

                        </h2>
                        
                        <div class="ms-2">
                            
                            <%- include("./new")%>
                            <%- include("../edit")%>
                            <%- include("../delete")%>
                            <a class="btn btn-outline-secondary  px-2 py-1" href=<%=`/materiel/generatepdf/${materiel.id}`%>
                                target="_blank"><i class="bi bi-printer-fill  px-1 py-1"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-2 mt-2">
                        <p>REF:</p>
                       
                        <p>Quantité globale:</p>
                        </div>
                    <div class="col-2 mt-2">
                        <p>
                            <%=materiel.code %>
                        </p>
                       
                        <p>
                         Coming Soon !

                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>





    <form class="d-flex">
        <input id="search" class="form-control mb-2" type="search" placeholder="Search" aria-label="Search" />

    </form>
    <table class="table table-striped table-hover table-borderless text-center sortable">
        <thead class="table-success">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">REF</th>
                <th scope="col">Désignation</th>
               <th scope="col">Quantité</th>
                <th scope="col">Date d'achat</th>
                 <th id="hide" scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            <% var i=1 %>
            <% for (article of materiel.article){%>
            <tr>
                <th scope="row">
                    <%= i%>
                    <% i=i+1; %>
                </th>
                <td class="data">
                    <%= article.ref %>
                    </td>
                    <td class="data">
                        <%= article.designation%>
                        </td>
                                  
                <td class="data">
                    <%=article.quantite %>
                </td>
                <td class="data">
                    <%=moment(article.dateachat).format("DD/MM/YYYY")%>
                </td>
              <th>
               
                <%- include("./edit")%>
                <%- include("./delete")%>

              </th>
                           
            </tr>
            <% }%>
        </tbody>
    </table>
</div>
</div>