<% layout('layouts/boilerplate')%>


<div class="container mt-3">

    <div class="col m-auto">
        <div class="container-fluid">

            <div class=" mb-4 bg-light rounded-5 px-2">

                <div class="d-flex">
                    <div class="col d-flex m-auto">
                        <h2>
                            <%=materiel.designation %>

                        </h2>

                        <div class="ms-2">

                            <%- include("./new")%>
                            <%- include("../edit")%>
                            <%- include("../delete")%>
                            <a class="btn btn-outline-secondary  px-2 py-1"
                                href=<%=`/materiel/generatepdf/${materiel.id}`%> target="_blank"><i
                                    class="bi bi-printer-fill  px-1 py-1"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-2 mt-2">
                        <p>REF:</p>
                        <p>Quantité globale:</p>
                        <p>Quantité Consommé:</p>
                    </div>
                    <div class="col-2 mt-2">
                        <p><%=materiel.code %></p>
                        <p><%=materiel.qteglobal %></p>
                        <p><%=materiel.consumedQuantity%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <form class="d-flex">
        <input id="search" class="form-control mb-2" type="search" placeholder="Search" aria-label="Search" />

    </form>
    <table class="table table-striped table-hover table-borderless text-center sortable">
        <thead class="table-success">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">N° Lot</th>
                <th scope="col">Marque</th>
                <th scope="col">Qte</th>
                <th scope="col">Qte consommé</th>
                <th scope="col">Date d'achat</th>
                <th scope="col">Fournisseur</th>
                <th scope="col">BC</th>
                <th scope="col">BL</th>
                <th scope="col">FC</th>
                <th scope="col">Etat</th>
                <th id="hide" scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            <% var i=1 %>
            <% for (article of materiel.article){%>
            <tr>
                <th scope="row" class="clickable" onclick="window.location='/materiel/<%=materiel.id%>/articles/<%=article.id%>'">
                    <%= i%>
                    <% i=i+1; %>
                </th>
                
                <td class="data clickable" onclick="window.location='/materiel/<%=materiel.id%>/articles/<%=article.id%>'">
                    <%= article.lot%>
                </td>
                <td class="data clickable" onclick="window.location='/materiel/<%=materiel.id%>/articles/<%=article.id%>'">
                    <%= article.marque %>
                </td>

                <td class="data clickable" onclick="window.location='/materiel/<%=materiel.id%>/articles/<%=article.id%>'">
                    <%=article.detail.length %>
                </td>
                <td class="data clickable" onclick="window.location='/materiel/<%=materiel.id%>/articles/<%=article.id%>'">
                    <%= article.detail.reduce((quantity,detail) => {
                        if (detail.taken) return quantity + detail.quantite;
                          else return quantity;
                    },0) %>
                </td>
                
                <td class="data clickable" onclick="window.location='/materiel/<%=materiel.id%>/articles/<%=article.id%>'">
                    <%=moment(article.dateachat).format("DD/MM/YYYY")%>

                </td>
                <td class="data clickable" onclick="window.location='/materiel/<%=materiel.id%>/articles/<%=article.id%>'">
                    <%=article.fournisseur %>
                </td>
                <td class="data clickable" onclick="window.location='/materiel/<%=materiel.id%>/articles/<%=article.id%>'">
                    <%=article.bc %>
                </td>
                <td class="data clickable" onclick="window.location='/materiel/<%=materiel.id%>/articles/<%=article.id%>'">
                    <%=article.bl %>
                </td>
                <td class="data clickable" onclick="window.location='/materiel/<%=materiel.id%>/articles/<%=article.id%>'">
                    <%=article.fc %>
                </td>
                <% if (article.etat==="Reçu"){%>
                    <th class="p-3"><span class="rounded-pill badge bg-success bg-gradient">Reçu</span></th>
                    <%}else if(article.etat==="Commandé"){%>
                    <th class="p-3"><span class="rounded-pill badge bg-warning bg-gradient bg-gradient">Commandé</span></th>
                    <%}else{%>
                        <th class="p-3"><span class="rounded-pill badge bg-lightCoral bg-gradient">Retour</span></th>
                
                <%}%>        <th>
                    <%- include("./detail/new",{article})%>
                    <%- include("./edit")%>
                    
                    <%- include("./delete")%>

                    
                </th>

            </tr>
            <% }%>
        </tbody>
    </table>
</div>
</div>