<div id="speakEvent" class="navigation-tabs">
  <div class="event-container mt-3">
    <% for (let event of speakEvents){ %>
    <div class="event-card">
      <div class="card-header">
        <a href="/events/<%=event._id %>">
          <img src="<%=event.pictures[0].url%>" alt="">
        </a>
      </div>
      <div class="card-body">
        <div class="d-flex flex-column flex-grow-1 justify-content-start align-items-start">
          <% switch(event.category[0]){ case "Cultural" :%>
          <span class="tag tag-purple mb-2">
            <%= event.category %>
          </span>
          <h5>
            <a class="card-title text-purple fw-bold text-decoration-none" href="/events/<%=event._id %>">
              <%= event.title %>
            </a>
          </h5>
          <% break; case "Technology" :%>

          <span class="tag tag-teal mb-2">
            <%= event.category %>
          </span>

          <br>
          <h5>
            <a class="text-teal fw-bold text-decoration-none" href="/events/<%=event._id %>">
              <%= event.title %>
            </a>
          </h5>
          <% break; case "Conferences" :%>

          <span class="tag tag-cyan mb-2">
            <%= event.category %>
          </span>

          <br>
          <h5>
            <a class="text-cyan fw-bold text-decoration-none" href="/events/<%=event._id %>">
              <%= event.title %>
            </a>
          </h5>
          <% break; case "Economics" :%>

          <span class="tag tag-pink mb-2">
            <%= event.category %>
          </span>

          <br>
          <h5>
            <a class="card-title text-pink fw-bold text-decoration-none" href="/events/<%=event._id %>">
              <%= event.title %>
            </a>
          </h5>
          <% break; case "Arts" :%>

          <span class="tag tag-red mb-2">
            <%= event.category %>
          </span>

          <br>
          <h5>
            <a class="card-title text-red fw-bold text-decoration-none" href="/events/<%=event._id %>">
              <%= event.title %>
            </a>
          </h5>
          <% break; case "Summit" :%>

          <span class="tag tag-yellow mb-2">
            <%= event.category %>
          </span>

          <br>
          <h5>
            <a class="card-title text-yellow fw-bold text-decoration-none" href="/events/<%=event._id %>">
              <%= event.title %>
            </a>
          </h5>
          <% break;}%>
        </div>
        <div class="d-flex flex-row mb-2 text-muted">
          <i class="fas fa-calendar-alt me-2"></i>
          <%= moment(event.period.start).format('l') %>
        </div>
        <div class="d-flex justify-content-between align-items-center flex-shrink-1">
          <img class="avatar col-2 me-2" src="<%= event.author.pictures[0].url %>" alt="user" />
          <div class="col-10 user-info">
            <a class="text-decoration-none" href="/user/<%=event.author.id %>/profile">
              <span class="text-muted">
                <%= event.author.fullname %>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>