<button
  type="button"
  class="btn me-2 btn-outline-warning bg-gradient px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#editcomptRendu-<%= consultation.id %>"
>
  Modifier <i class="bi bi-clipboard2-pulse-fill"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="editcomptRendu-<%= consultation.id %>"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addcompt-<%= patient.id %>">
          Ajouter Compte Rendu
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="/patient/<%=patient.id%>/acte/<%=consultation.id %>/compterendu/?_method=PUT"
          method="POST"
          class="row g-3 m-2 needs-validation"
          novalidate
        >
          <!-- =========================  Modèle ============================ -->
          <div class="form-floating col-md-12">
            <select
              class="form-select"
              id="model-<%= i %>"
              name="model"
              onchange="generateField('<%= i %>')"
            >
              <option class="option" value="" selected disabled>Modèle</option>
              <% for(report of reports){ %>
              <option class="option" value="<%= report.type %>">
                <%= report.type %>
              </option>
              <% } %>
            </select>
            <label for="model" class="form-label">Modèle</label>
            <div class="valid-feedback">Modèle</div>
          </div>
          <!-- =========================  ATCD ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="atcd-<%=i%>"
              name="compteRendu[atcd]"
              type="text"
              value="<%= consultation.compterendu.atcd %>"
            />
            <label for="atcd-<%=i%>" class="form-label">ATCD</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- =========================  Quality Technique ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="quality-<%=i%>"
              name="compteRendu[quality]"
              type="text"
              value="<%= consultation.compterendu.quality %>"
            />
            <label for="quality-<%=i%>" class="form-label"
              >Quality Technique</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= Situs ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="situs-<%=i%>"
              name="compteRendu[situs]"
              type="text"
              value="<%= consultation.compterendu.indication.situs %>"
            />
            <label for="situs-<%=i%>" class="form-label">Situs</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= Aorte ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="aorte-<%=i%>"
              name="compteRendu[aorte]"
              type="text"
              value="<%= consultation.compterendu.indication.aorte %>"
            />
            <label for="aorte-<%=i%>" class="form-label">Aorte</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= Oreillette Gauche ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="oreilletteGauche-<%=i%>"
              name="compteRendu[oreilletteGauche]"
              type="text"
              value="<%= consultation.compterendu.indication.oreilletteGauche %>"
            />
            <label for="oreilletteGauche-<%=i%>" class="form-label"
              >Oreillette Gauche</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>

          <!-- ========================= SIA ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="sia-<%=i%>"
              name="compteRendu[sia]"
              type="text"
              value="<%= consultation.compterendu.indication.sia %>"
            />

            <label for="sia-<%=i%>" class="form-label">SIA</label>
            <div class="valid-feedback">SIA</div>
          </div>
          <!-- ========================= Valve Aortique ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="valveAortique-<%=i%>"
              name="compteRendu[valveAortique]"
              type="text"
              value="<%= consultation.compterendu.indication.valveAortique %>"
            />
            <label for="valveAortique-<%=i%>" class="form-label"
              >Valve Aortique</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= VALVE MITRALE ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="valveMitrale-<%=i%>"
              name="compteRendu[valveMitrale]"
              type="text"
              value="<%= consultation.compterendu.indication.valveMitrale %>"
            />

            <label for="valveMitrale-<%=i%>" class="form-label"
              >Valve Mitrale</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= Vintricule Gauche ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="motif-<%=i%>"
              name="ventriculeGauche[motif]"
              type="text"
              value="<%= consultation.compterendu.indication.ventriculeGauche.motif %>"
            />

            <label for="motif-<%=i%>" class="form-label"
              >Ventricule Gauche</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= DTD ============================ -->
          <div class="form-floating col-md-4">
            <input
              class="form-control"
              id="dtd-<%=i%>"
              name="ventriculeGauche[dtd]"
              type="text"
              value="<%= consultation.compterendu.indication.ventriculeGauche.dtd %>"
            />
            <label for="dtd-<%=i%>" class="form-label">DTD</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= SIV ============================ -->
          <div class="form-floating col-md-4">
            <input
              class="form-control"
              id="ventGsiv-<%=i%>"
              name="ventriculeGauche[ventGsiv]"
              type="text"
              value="<%= consultation.compterendu.indication.ventriculeGauche.siv %>"
            />
            <label for="ventGsiv-<%=i%>" class="form-label">SIV</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= FE ============================ -->
          <div class="form-floating col-md-4">
            <input
              class="form-control"
              id="fe-<%=i%>"
              name="ventriculeGauche[fe]"
              type="text"
              value="<%= consultation.compterendu.indication.ventriculeGauche.fe %>"
            />

            <label for="-<%=i%>" class="form-label">FE</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= SIV ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="siv-<%=i%>"
              name="compteRendu[siv]"
              type="text"
              value="<%= consultation.compterendu.indication.siv %>"
            />

            <label for="siv-<%=i%>" class="form-label">SIV</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= Cavités Droite ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="cavitesDroites-<%=i%>"
              name="compteRendu[cavitesDroites]"
              type="text"
              value="<%= consultation.compterendu.indication.cavitesDroites %>"
            />

            <label for="cavitesDroites" class="form-label"
              >Cavités Droite</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= Tricuspide ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="tricuspide-<%=i%>"
              name="compteRendu[tricuspide]"
              type="text"
              value="<%= consultation.compterendu.indication.tricuspide %>"
            />

            <label for="tricuspide-<%=i%>" class="form-label">Tricuspide</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= Artère Pulmonaire ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="arterePulmonaire-<%=i%>"
              name="compteRendu[arterePulmonaire]"
              type="text"
              value="<%= consultation.compterendu.indication.arterePulmonaire %>"
            />

            <label for="arterePulmonaire-<%=i%>" class="form-label"
              >Artère Pulmonaire</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>
          <!-- ========================= Péricarde ============================ -->
          <div class="form-floating col-md-12">
            <input
              class="form-control"
              id="pericarde-<%=i%>"
              name="compteRendu[pericarde]"
              type="text"
              value="<%= consultation.compterendu.indication.pericarde %>"
            />

            <label for="pericarde-<%=i%>" class="form-label">Péricarde</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="col-md-12">
            <textarea
              class="form-control"
              name="compteRendu[conclusion]"
              id="conclusion-<%=i%>"
              rows="4"
              placeholder="Conclusion"
              style="text-transform: capitalize"
            ><%= consultation.compterendu.conclusion %>
          </textarea>
          </div>
          <div class="col-md-12">
            <textarea
              class="form-control"
              name="compteRendu[conduiteMedicale]"
              id="conduiteMedicale-<%=i%>"
              rows="4"
              placeholder="conduite Médicale"
              style="text-transform: capitalize"
            ><%= consultation.compterendu.conduiteMedicale %></textarea>
          </div>

          <div class="modal-footer mt-4">
            <button
              type="button"
              class="btn btn-outline-danger bg-gradient"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button
              type="submit"
              id="patient-register"
              class="btn btn-outline-warning bg-gradient"
            >
              Modifier
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
