<button
  type="button"
  class="btn me-2 btn-outline-success bg-gradient px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#bc-<%= patient.id %>"
>
  <i class="bi bi-plus-lg"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="bc-<%= patient.id %>"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addbc-<%= patient.id %>">Nouveau BC</h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form
          action="/kt/bc/<%=patient.id%>"
          method="POST"
          class="needs-validation"
          novalidate
        >
          <div class="form-floating mb-3">
            <input
              class="form-control"
              type="date"
              id="datebc"
              name="bc[date]"
              placeholder="date de BC"
              required
              autofocus
            />
            <label for="datebc" class="form-labelfs-6">Date de BC</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="modal-footer mt-4">
            <button
              type="button"
              class="btn btn-outline-danger bg-gradient"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button class="btn btn-outline-success bg-gradient">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $('#bc-<%= patient.id %>').on('shown.bs.modal', function() {
      $(this).find('[autofocus]').focus();
});
</script>