<% layout('layouts/boilerplate')%>


<div class="container mt-3">

    <div class="col m-auto">
        <div class="container-fluid">

            <div class=" mb-4 bg-light rounded-5 px-2">

                <div class="d-flex">
                    <div class="col d-flex m-auto">
                        <h4>
                            Bon de commandes: 
                            <span class="text-decoration-underline">
                                <%=bc.id %>
                            </span>
                        </h4>
                        <div class="ms-2 mt-1">
                            <%- include("./article/new") %> 
                        </div>
                    </div>
                    <div class="col-2 mt-2">
                        <p>Date Creation:</p>
                        <p>Patient:</p>
                        
                    </div>
                    <div class="col-2 mt-2">
                        <p><%=moment(bc.date).format("DD/MM/YYYY") %></p>
                        <p><%=patient.fullname %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <form class="d-flex">
        <input id="search" class="form-control mb-2" type="search" placeholder="Search" aria-label="Search" />

    </form>
    <table class="table table-striped table-hover table-borderless text-center sortable">
        <thead class="table-success">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Article</th>
                <th scope="col">Quantité</th>
                <th id="hide" scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="tablebody">
           <% var i = 1 %>
           <% for(article of bc.articles) {%>
            <tr>
            <th class="clickable" onclick="window.location='/kt/bc/<%=patient.id%>/<%=bc.id%>'">
                <%= i++ %>
            </th> 
            <td class="clickable" onclick="window.location='/kt/bc/<%=patient.id%>/<%=bc.id%>'">
                <%= article.designation %>                
            </td> 
            <td class="clickable" onclick="window.location='/kt/bc/<%=patient.id%>/<%=bc.id%>'">
                <%= article.qte %>                
            </td> 
            <td>
                <%- include("./article/edit") %> 
                <%- include("./article/delete") %> 
            </td>
        </tr>
            <% } %> 

        </tbody>
    </table>
</div>
</div>