<nav
  class="navbar navbar-expand-lg sticky-top navbar-light bg-antiqueSteel shadow-sm fw-bold"
>
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">
      <img
        id="assest"
        src="/assets/logo.png"
        alt=""
        width="80"
        height="60"
        class="d-inline-block align-text-center"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      id="navbarSupportedbutton"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if(!currentUser.privileges.includes('acheteur')) { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fw-bold"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Patient <i class="bi bi-heart-pulse-fill fw-bold text-danger"></i>
          </a>
          <ul
            class="dropdown-menu bg-antiqueSteel"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/patient/new">Nouveau patient <i class="bi bi-person-plus-fill"></i></a>
            </li>

            <li>
              <a class="dropdown-item" href="/patient">Liste des patients <i class="bi bi-list"></i></a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="acte-list"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Par Acte <i class="ri-stethoscope-line"></i></a
          >
          <ul
            class="dropdown-menu bg-antiqueSteel"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" href="/acte/Consultation"
                >Liste des consultations</a
              >
              <a class="dropdown-item" href="/acte/Chirurgie"
                >Liste des chirurgies</a
              >
              <a class="dropdown-item" href="/acte/KT">Liste des KT</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="acte-list"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Par Conduite Médicale</a
          >
          <ul
            class="dropdown-menu bg-antiqueSteel"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <% for(conduiteMedicale of session.conduiteMedicale){ %>
              <a
                class="dropdown-item"
                href="/conduitemedicale/<%= conduiteMedicale %>"
                ><%= conduiteMedicale %>
              </a>
              <% } %>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="acte-list"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Par Medecin <i class="ri-nurse-fill"></i></a
          >
          <ul
            class="dropdown-menu bg-antiqueSteel"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <% for(medecin of session.medecinList){ %>
              <a class="dropdown-item" href="/medecin/<%= medecin.lastname %>"
                >Dr.<%= medecin.lastname %>
              </a>
              <% } %>
            </li>
          </ul>
        </li>
        <% } %>
        <% if(currentUser.privileges.includes('admin')) { %>
        <li class="nav-item">
          <a class="nav-link" href="/staffs">Personels <i class="bi bi-person-vcard"></i></a>
        </li>
        <% } %>
        <% if(currentUser.privileges.includes('admin') || currentUser.privileges.includes('medecin')) { %>
        <li class="nav-item">
          <a class="nav-link" href="/medicaments">Medicaments <i class="ri-medicine-bottle-line text-success"></i></a>
        </li>
        <% } %>
        <% if(currentUser.privileges.includes('admin') || currentUser.privileges.includes('acheteur') || currentUser.privileges.includes('medecin') || currentUser.privileges.includes('technicien'))  { %>
        <li class="nav-item dropdown">
          <a
          class="nav-link dropdown-toggle"
          href="#"
          id="acte-list"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          >Materiels KT</a
          >
          <ul
            class="dropdown-menu bg-antiqueSteel"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <% if(currentUser.privileges.includes('admin')|| currentUser.privileges.includes('acheteur')) {%>
              <a class="dropdown-item" href="/materiels">Matériels entrants</a>
              <% } %>
              <% if(!currentUser.privileges.includes('assistant')) {%>
              <a class="dropdown-item" href="/KT">Matériels sortants</a>
              <% } %>
              <% if(currentUser.privileges.includes('admin')|| currentUser.privileges.includes('acheteur')) {%>
              <a class="dropdown-item" href="/fournisseur">Fournisseurs</a>
              <% } %>
            </li>
          </ul>
        </li>
        <% } %>
        <% if(currentUser){ %> 
        <% if(currentUser.privileges.includes('admin')) {%>
        <li class="nav-item">
          <a class="nav-link" href="/user"
            >Utilisateurs <i class="bi bi-people-fill"></i>
            <% if(session.newUsers!=0) {%> 
            <span class="badge bg-danger"> <%=session.newUsers%></span>
            <% } %> 
          </a>
        </li>
        <% }} %>
        <li class="dropdown nav-item"><%-include("./userDropdown") %></li>
      </ul>
    </div>
  </div>
</nav>
