<button
  type="button"
  class="me-3 btn btn-outline-warning bg-gradient px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#editCons-<%=consultation.id %>"
  onclick="selectActe2('<%=consultation.id %>','<%=consultation.acte%>')"
>
  <i class="bi bi-pencil-fill"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="editCons-<%= consultation.id %>"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modification Acte</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          required
        ></button>
      </div>

      <div class="modal-body">
        <form
          action="/patient/<%= patient.id %>/acte/<%= consultation.id %>?_method=PUT"
          method="POST"
          id="personal"
          class="needs-validation row"
          novalidate
        >
          <div class="form-floating mb-3 col-md-8">
            <input class="form-control" type="date" id="dateacte"
            name="consultation[dateacte]" placeholder="date de l'acte" required
            autofocus
            value="<%=moment(consultation.date).format("YYYY-MM-DD")%>" />
            <label for="dateacte" class="form-labelfs-6">Date de l'acte</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating mb-3 col-md-4">
            <input
              class="form-control"
              type="time"
              id="time"
              name="consultation[time]"
              value="<%=moment(consultation.time,"HH:mm").format("HH:mm")%>" />
            
            <label for="time" class="form-labelfs-6">Heure de l'acte</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating mb-3">
            <select
              id="medecin"
              name="consultation[medecin]"
              class="form-select"
              required
            >
              <option disabled value="" selected>Medecin</option>
              <% for(medecin of medecins ){ %>
              <%if(consultation.medecin===medecin.lastname) {%>
              <option class="option" value="<%= medecin.lastname%>" selected>
                Dr. <%= medecin.lastname %>
              </option>
              <% } else { %>
              <option class="option" value="<%= medecin.lastname%>">
                Dr. <%= medecin.lastname %>
              </option>
              <% } %> <% } %>
            </select>

            <label for="medecin" class="form-label">Medecin</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating mb-3">
            <select
              id="<%=consultation.id %>"
              name="consultation[acte]"
              class="form-select"
              required
              onchange="selectActe2('<%=consultation.id %>',this.value)"
            >
              <option disabled value="">Acte</option>
              <% switch (consultation.acte) { case "Consultation" :%>
              <option class="option" value="Consultation" selected>
                Consultation
              </option>
              <option class="option" value="Chirurgie">Chirurgie</option>
              <option class="option" value="KT">KT</option>
              <% break; case "Chirurgie" :%>
              <option class="option" value="Consultation">Consultation</option>
              <option class="option" value="Chirurgie" selected>
                Chirurgie
              </option>
              <option class="option" value="KT">KT</option>
              <% break; case "KT" :%>
              <option class="option" value="Consultation">Consultation</option>
              <option class="option" value="Chirurgie">Chirurgie</option>
              <option class="option" value="KT" selected>KT</option>
              <% break; } %>
            </select>

            <label for="acte2" class="form-label">Acte</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating mb-3" id="tech-<%=consultation.id%>">
            <select
              id="technicien"
              name="consultation[technicien]"
              class="form-select"
            >
              <option class="option" value="" disabled selected>
                Technicen
              </option>
              <option class="option" value="/">/</option>
              <% for(technicien of techniciens ){ %>
              <%if(consultation.technicien===technicien.fullname) {%>
              <option class="option" value="<%= technicien.fullname%>" selected>
                <%= technicien.fullname %>
              </option>
              <% } else { %>
              <option class="option" value="<%= technicien.fullname%>">
                <%= technicien.fullname %>
              </option>
              <% } } %>
            </select>

            <label for="technicien" class="form-label">Technicien</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-3 mb-3">
            <input
              type="number"
              class="form-control"
              id="poids"
              name="consultation[poids]"
              maxlength="3"
              min="1"
              max="200"
              value="<%= consultation.poids %>"
            />
            <label for="poids" class="form-label">Poids (KG)</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-3 mb-3">
            <input
              type="number"
              class="form-control"
              id="taille"
              name="consultation[taille]"
              min="30"
              max="200"
              maxlength="3"
              value="<%= consultation.taille %>"
            />
            <label for="taille" class="form-label">Taille (cm)</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-3  mb-3">
            <input
              type="number"
              class="form-control"
              id="saturation"
              name="consultation[saturation]"
              value="<%= consultation.saturation %>"
            />
            <label for="saturation" class="form-label">Saturation %</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-3 mb-3">
            <input
              type="text"
              class="form-control"
              id="ta"
              name="consultation[ta]"
              value="<%= consultation.ta %>"
            />
            <label for="ta" class="form-label">TA</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating mb-2">
            <div class="d-flex align-item-start form-check form-switch ms-2">
              <% if (consultation.status === "oui"){%>
              <input
                class="form-check-input me-2"
                type="checkbox"
                name="consultation[status]"
                value="oui"
                role="switch"
                id="status"
                checked
              />
              <% }else{ %>
              <input
                class="form-check-input me-2"
                type="checkbox"
                name="consultation[status]"
                value="oui"
                role="switch"
                id="status"
              />
              <% } %>
              <label class="form-check-label" for="status">Confirmé ?</label>
              <div class="valid-feedback">BIEN</div>
            </div>
          </div>
          <div class=" ">
            <textarea
              class="form-control"
              name="consultation[comment]"
              id="editcomment"
              rows="4"
              style="text-transform: capitalize"
              placeholder="Motif"
            >
<%=consultation.comment%></textarea
            >
          </div>

          <div class="modal-footer mt-3">
            <button
              type="button"
              class="btn btn-outline-lightCoral bg-gradient"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button
              type="submit"
              id="patient-register"
              class="btn btn-outline-warning bg-gradient"
            >
              Modifier
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(" #editCons-<%=consultation.id %>").on("shown.bs.modal", function () {
    $(this).find("[autofocus]").focus();
  });
</script>
