<button
  type="button"
  class="me-3 btn btn-outline-warning bg-gradient px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#edit-<%= user.id %>"
>
  <i class="bi bi-pencil-fill"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="edit-<%= user.id %>"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modifier Personnel</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          required
        ></button>
      </div>

      <div class="modal-body">
        <form
          class="row g-3 needs-validation"
          action="/user/<%= user.id %>/?_method=PUT"
          id="user"
          method="POST"
          novalidate
        >
          <div class="form-floating">
            <input
              id="staffLastName"
              name="user[lastname]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              value="<%= user.lastname %>"
              required
              autofocus
            />
            <label for="staffLastName" class="form-label">Nom</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating">
            <input
              id="staffFirstName"
              name="user[firstname]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              value="<%= user.firstname %>"
            />
            <label for="staffFirstName" class="form-label">Prénom</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating">
            <select
              id="staffFonction"
              name="user[fonction]"
              class="form-select"
              value="<%= user.fonction %>"
              required
            >
              <option selected disabled value="">Fonction</option>
              <% if (user.fonction === 'Medecin'){%>
              <option class="option" value="Medecin" selected>Medecin</option>
              <option class="option" value="technicien cathlab">
                Technicien cathlab
              </option>
              <option class="option" value="assitant(e) Medicale">
                Assitant(e) Medical(e)
              </option>
              <% }else if(user.fonction === 'technicien cathlab'){ %>
              <option class="option" value="Medecin">Medecin</option>
              <option class="option" value="technicien cathlab" selected>
                Technicien
              </option>
              <option class="option" value="assitant(e) Medicale">
                Assitant(e) Medical(e)
              </option>
              <% }else { %>
              <option class="option" value="Medecin">Medecin</option>
              <option class="option" value="technicien cathlab">
                Technicien cathlab
              </option>
              <option class="option" value="assitant(e) Medicale" selected>
                Assitant(e) Medical(e)
              </option>
              <% } %>
            </select>
            <label for="staffGender" class="form-label">Fonction</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating">
            <div class="d-flex align-item-start form-check form-switch ms-2">
              <% if (user.externe === 'externe'){%>
              <input
                class="form-check-input me-2"
                type="checkbox"
                name="user[externe]"
                value="externe"
                role="switch"
                id="externe"
                checked
              />
              <% }else{ %>
              <input
                class="form-check-input me-2"
                type="checkbox"
                name="user[externe]"
                value="externe"
                role="switch"
                id="externe"
              />
              <% } %>
              <label class="form-check-label" for="externe">Externe</label>
              <div class="valid-feedback">BIEN</div>
            </div>
          </div>

          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              style="text-transform: lowercase"
              id="stafemail"
              name="user[email]"
              value="<%= user.email %>"
            />
            <label for="staffemail" class="form-label">Email</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="staffPhone"
              name="user[phone]"
              value="<%= user.phone %>"
              maxlength="10"
            />
            <label for="staffPhone" class="form-label">Téléphone</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating">
            <div class="d-flex align-item-start form-check form-switch ms-2">
              <% if (user.approved){%>
              <input
                class="form-check-input me-2"
                type="checkbox"
                name="user[approved]"
                role="switch"
                id="externe"
                checked
              />
              <% }else{ %>
              <input
                class="form-check-input me-2"
                type="checkbox"
                name="user[approved]"
                role="switch"
                id="externe"
              />
              <% } %>
              <label class="form-check-label" for="externe">Apprové</label>
              <div class="valid-feedback">BIEN</div>
            </div>
          </div>
          <div class="row">
            <div class="form-check form-check-inline col-md-4">
              <input
                class="form-check-input"
                type="checkbox"
                name="user[privileges]"
                value="admin"
                id="admin"
              />
              <label class="form-check-label" for="admin">Admin</label>
            </div>
            <div class="form-check form-check-inline col-md-4">
              <input
                class="form-check-input"
                type="checkbox"
                name="user[privileges]"
                value="assistant"
                id="assistant"
              />
              <label class="form-check-label" for="assistant">
                Assistant(e)
              </label>
            </div>
            <div class="form-check form-check-inline col-md-4">
              <input
                class="form-check-input"
                type="checkbox"
                name="user[privileges]"
                value="medecin"
                id="assistant"
              />
              <label class="form-check-label" for="medecin"> Medecin </label>
            </div>
            <div class="form-check form-check-inline col-md-4">
              <input
                class="form-check-input"
                type="checkbox"
                name="user[privileges]"
                value="achteur"
                id="achteur"
              />
              <label class="form-check-label" for="achteur"> Achteur </label>
            </div>
          </div>

          <div class="modal-footer mt-3">
            <button
              type="button"
              class="btn btn-outline-danger bg-gradient"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button
              type="submit"
              id="user-edit"
              class="btn btn-outline-warning bg-gradient"
            >
              Modifier
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $("#edit-<%= user.id %>").on("shown.bs.modal", function () {
    $(this).find("[autofocus]").focus();
  });
</script>
