<!DOCTYPE html>
<html lang="en">
  <%- include("../layouts/head")%>
  <style>
    /* Additional styles for a medical-themed design */
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f4f8f9; /* Soft background color for a medical environment */
    }

    

    .logo-img {
      width: 150px;
      height: auto;
    }
  </style>

  <body class="d-flex flex-column  bg-light">
    <main class="flex-grow-1">
      <%- include("../partials/flash")%>

      <div class="container">
        <div class="card shadow-lg border-0 my-5 p-4 rounded-4">
          <div class="row justify-content-center">
            <div class="col-12 text-center mb-4">
              <a href="/">
                <img src="/assets/logo.png" alt="Logo" class="logo-img" />
              </a>
            </div>

            <div class="col-12">
              <ul class="nav nav-tabs d-flex justify-content-center" role="tablist">
                <li class="nav-item">
                  <button
                    id="userLoginTab"
                    data-bs-target="#userLoginForm"
                    data-bs-toggle="tab"
                    role="tab"
                    class="nav-link active"
                    aria-controls="userLoginForm"
                    aria-selected="true"
                  >
                    <i class="bi bi-box-arrow-in-right me-2"></i> Login
                  </button>
                </li>
                <li class="nav-item">
                  <button
                    id="userRegisterTab"
                    data-bs-target="#userRegisterForm"
                    data-bs-toggle="tab"
                    role="tab"
                    class="nav-link"
                    aria-controls="userRegisterForm"
                    aria-selected="false"
                  >
                    <i class="bi bi-person-plus-fill me-2"></i> Register
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="tab-content mt-4">
            <!-- ============================= Login Form =============================================== -->
            <div
              aria-labelledby="userLoginTab"
              role="tabpanel"
              class="tab-pane fade active show"
              id="userLoginForm"
            >
              <h3 class="my-4 text-center text-primary">Login</h3>
              <form action="/user/login" method="POST" class="needs-validation row" novalidate>
                <div class="form-floating mb-2 col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input
                      type="email"
                      class="form-control"
                      name="username"
                      id="loginEmail"
                      placeholder="name@example.com"
                      style="text-transform: lowercase"
                      required
                    />
                  </div>
                </div>

                <div class="form-floating mb-2 col-sm-12 col-md-6 col-lg-6">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-key"></i></span>
                    <input
                      type="password"
                      class="form-control"
                      id="loginPassword"
                      name="password"
                      placeholder="Password"
                      required
                    />
                    <div class="input-group-text" id="show_hide_login" style="cursor: pointer;">
                      <span id="icon-eye" class="bi bi-eye-fill"></span>
                    </div>
                  </div>
                 
                </div>
                <div class="mb-2 text-center col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                  <button type="submit" id="user-submit" class="btn btn-outline-greenSea w-25">
                    Login <i class="bi bi-box-arrow-in-right ms-2"></i>
                  </button>
                </div>

                <div class="text-center">
                  <a href="/user/reset-password" class="text-decoration-none">Forgot Password?</a>
                </div>
              </form>
            </div>

            <!-- ============================= Register Form =============================================== -->
            <div
              aria-labelledby="userRegisterTab"
              role="tabpanel"
              class="tab-pane fade"
              id="userRegisterForm"
            >
              <h3 class="my-4 text-center text-primary">Register</h3>
              <form
                class="row g-3 needs-validation"
                action="/user/register"
                id="personal"
                method="POST"
                novalidate
              >
                <div class="form-floating col-sm-12 col-md-6   mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input
                      id="lastname"
                      name="user[lastname]"
                      type="text"
                      class="form-control"
                      style="text-transform: capitalize"
                      autofocus
                      required
                      placeholder="Lastname"
                    />
                  </div>
                  <!-- <label for="lastname" class="form-label">Last Name</label> -->
                </div>

                <div class="form-floating col-sm-12 col-md-6   mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input
                      id="firstName"
                      name="user[firstname]"
                      style="text-transform: capitalize"
                      type="text"
                      class="form-control"
                      placeholder="Firstname"
                    />
                  </div>
                  <!-- <label for="firstName" class="form-label">First Name</label> -->
                </div>

                <div class="form-floating col-sm-12 col-md-6 mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-briefcase"></i></span>
                    <select id="fonction" name="user[fonction]" class="form-select" required>
                      <option selected disabled value="">Function</option>
                      <% for(fonction of fonctions) {%>
                      <option class="option" value="<%= fonction %>">
                        <%= fonction %>
                      </option>
                      <% } %>
                    </select>
                  </div>
                  <!-- <label for="fonction" class="form-label">Function</label> -->
                </div>

                <div class="form-floating mb-3 col-sm-12 col-md-6  ">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-phone"></i></span>
                    <input
                      id="phone"
                      name="user[phone]"
                      type="text"
                      class="form-control"
                      maxlength="10"
                      required
                      placeholder="Phone"
                    />
                  </div>
                  <!-- <label for="phone" class="form-label">Phone</label> -->
                </div>

                <div class="form-floating mb-3 col-sm-12 col-md-6  ">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input
                      id="email"
                      name="user[email]"
                      type="email"
                      class="form-control"
                      required
                      placeholder="Email"
                    />
                  </div>
                  <!-- <label for="email" class="form-label">Email</label> -->
                </div>

                <div class="form-floating col-sm-12 col-md-6  mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input
                      id="registerPassword"
                      name="user[password]"
                      type="password"
                      class="form-control"
                      required
                      placeholder="Mot de password"
                    />
                    <div class="input-group-text">
                      <span id="show_hide_register">
                        <i id="icon-eye-register" class="bi bi-eye-fill"></i>
                      </span>
                    </div>
                  </div>
                  
                  <!-- <label for="password" class="form-label">Password</label> -->
                </div>

                <div class="form-floating col-sm-12 col-md-6 mb-3">
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input
                      id="confirmedPassword"
                      name="user[confirmPassword]"
                      type="password"
                      class="form-control"
                      required
                      placeholder="Confirmer Mot de password"
                    />
                    <div class="input-group-text">
                      <span id="show_hide_confirmed">
                        <i id="icon-eye-confirmed" class="bi bi-eye-fill"></i>
                      </span>
                    </div>
                  </div>
                 
                  <!-- <label for="confirmPassword" class="form-label">Confirm Password</label> -->
                </div>

                <div class="mb-3 text-center">
                  <button type="submit" class="btn btn-outline-greenSea ">
                    Register <i class="bi bi-person-plus ms-2"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include("../layouts/imports")%>
  </body>
</html>

  