<% layout('layouts/boilerplate')%>
<div class="card border-0 profile-page">
  <img class="cover-profile" src="https://images.pexels.com/photos/1036371/pexels-photo-1036371.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img class="photo" src="<%= user.pictures[0].url %> " />
      <div class="mt-2">
        <h4><%= user.fullname %> </h4>
      </div>
    </div>


    <div class="row gy-5 my-3">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="border-1 border-bottom py-3 ps-3">
          <i class="bi bi-envelope fs-3 text-primary"></i>
          <%= user.email %>
        </div>
        <div class="my-2 py-3 ps-3">
          <i class="bi bi-telephone fs-3 text-primary"></i>
          <%= user.phone %>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-6 align-self-center">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-3 text-center">
                <span class="d-block mb-2"><%= t("followers") %></span>
                <span class="text-muted" id="followers"><%= user.followers.length %></span>
              </div>
              <div class="col-3 text-center">
                <span class="d-block mb-2"><%= t("followings") %></span>
                <span class="text-muted" id="followings"><%= user.followings.length %></span>
              </div>

              <% if(user.privileges.includes('organizer')){ %>
              <div class="col-3 text-center">
                <span class="d-block mb-2"><%= t("organized_events") %></span>
                <span class="text-muted"><%= events.length %></span>
              </div>
              <div class="col-3 text-center">
                <span class="d-block mb-2"><%= t("upcoming_events") %></span>
                <span class="text-muted"><%= events.length %></span>
              </div>
              <% } %>

              <% if(user.privileges.includes('speaker')){ %>
              <div class="col-3 text-center">
                <span class="d-block mb-2"><%= t("participated_events") %></span>
                <span class="text-muted"><%= speakEvents.length %></span>
              </div>
              <% } %>
            </div>
          </div>

          <div class="col-12 d-grid mt-3">
            <%  if(!currentUser) {%>
            <!-- if there is no user login  redirect to login page-->
            <a href="/user/login" class="col-12 btn btn-primary rounded-pill"><%= t("follow") %></a>
            <% }else { %>
            <!-- if there is a loggedIn -->
            <% if(user.id != currentUser._id) {%>
            <% if(currentUser.userType =="user") {%>
            <!-- if there is a loggedIn user and he is already a follower-->
            <% if(user.followers.includes(currentUser.id)) {%>
            <button class="col-12 btn btn-primary rounded-pill" id="follow">Following</button>
            <% }else{%>
            <!-- if there is a loggedIn user and he is not yet a Follower -->
            <button class="col-12 btn btn-primary rounded-pill" id="follow">Follow</button>
            <% } }%>
            <% } else {%>
            <a href="/user/<%= user._id%>" class="col-12 btn btn-primary rounded-pill"><%= t("edit") %></a>
            <% } %>
            <% } %>
          </div>

          <div class="col-12 d-flex justify-content-between text-center mt-3">
            <a href="<%= user.socialMedia.portfolio%>" target="_blank"><i class="portfolio fas fa-briefcase fs-3"></i></a>
            <a href="<%= user.socialMedia.linkedin%>" target="_blank"><i class="linkedin bi bi-linkedin fs-3"></i></a>
            <a href="<%= user.socialMedia.twitter%>" target="_blank"><i class="twitter bi bi-twitter fs-3"></i></a>
            <a href="<%= user.socialMedia.facebook%>" target="_blank"><i class="facebook bi bi-facebook fs-3"></i></a>
            <a href="<%= user.socialMedia.instagram%>" target="_blank"><i class="instagram bi bi-instagram fs-3"></i></a>
            <a href="<%= user.socialMedia.instagram%>" target="_blank"><i class="youtube fab fa-youtube fs-3"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="mt-5 col-lg-12">
        <ul class="nav border-1 border-top border-bottom py-3">
          <li class="tablinks active-tab text-decoration-none link-primary rounded" onclick="openTab(event, 'about')">
            <%= t("about") %> </li>
          <% if(user.privileges.includes('organizer')){ %>
          <li class="tablinks text-decoration-none link-primary rounded" onclick="openTab(event, 'orgEvent')">
            <%= t("organized_events") %> </li>
          <li class="tablinks text-decoration-none link-primary rounded" onclick="openTab(event, 'upEvent')">
            <%= t("upcoming_events") %> </li>
          <% } %>
          <% if(user.privileges.includes('speaker')){ %>
          <li class="tablinks text-decoration-none link-primary rounded" onclick="openTab(event, 'speakEvent')">
            <%= t("participated_events") %> </li>
          <% } %>
          <li class="tablinks text-decoration-none link-primary rounded" onclick="openTab(event, 'gallery')"><%= t("gallery") %>
          </li>

        </ul>
        <!-- =================== About ======================= -->
        <%-include("./components/about")%>
        <!-- =================== Speaker Event ======================= -->
        <% if(user.privileges.includes('speaker')){ %>
        <%-include("./components/speakerEvent")%>
        <% } %>
        <!-- =================== Program ======================= -->
        <% if(user.privileges.includes('organizer')){ %>
        <%-include("./components/orgEvent")%>
        <%-include("./components/upEvent")%>
        <% } %>
        <!-- =================== Gallery ======================= -->
        <%-include("./components/gallery")%>
      </div>
    </div>
  </div>
</div>

<script>
  const serverURL = '<%- process.env.SERVER_URL %>';
  const localURL = '<%- process.env.LOCAL_URL %>';
  const user = <%- JSON.stringify(currentUser) %>;
  const followedUser = <%- JSON.stringify(user) %>;
</script>
<script src="/js/follow.js"></script>