<div class="mt-3 row">
  <!--Portfolio  -->
  <div class="mb-3 col-md-6">
    <div class="input-group">
      <label for="floatingInput" class="form-label fs-6"></label>
      <span class="input-group-text" id="linkedin-label"><i class="fas fa-briefcase"></i></span>
      <input type="text" name="socialMedia[portfolio]" id="portfolio" class="form-control" placeholder="Portfolio" aria-describedby="portfolio-label" aria-label="portfolio" value="<%= user.socialMedia.portfolio %>">
      <div class="valid-feedback">looks good</div>
    </div>
  </div>
  <!-- Linkedin -->
  <div class="mb-3 col-md-6">
    <div class="input-group">
      <label for="floatingInput" class="form-label fs-6"></label>
      <span class="input-group-text" id="linkedin-label"><i class="fab fa-linkedin"></i></span>
      <input type="text" name="socialMedia[linkedin]" id="linkedin" class="form-control" placeholder="https://www.Linkedin.com/" aria-describedby="linkedin-label" aria-label="linkedin" value="<%= user.socialMedia.linkedin %>">
      <div class="valid-feedback">looks good</div>
    </div>
  </div>
  <!-- Facebook -->
  <div class="mb-3 col-md-6">
    <div class="input-group">
      <label for="floatingInput" class="form-label fs-6"></label>
      <span class="input-group-text" id="facebook-label"><i class="fab fa-facebook-f"></i></span>
      <input type="text" name="socialMedia[facebook]" id="facebook" class="form-control" placeholder="https://www.facebook.com/" aria-describedby="facebook-label" aria-label="facebook" value="<%= user.socialMedia.facebook %>">
      <div class="valid-feedback">looks good</div>
    </div>
  </div>
  <!-- Instagram -->
  <div class="mb-3 col-md-6">
    <div class="input-group">
      <label for="floatingInput" class="form-label fs-6"></label>
      <span class="input-group-text" id="instagram-label"><i class="fab fa-instagram"></i></span>
      <input type="text" name="socialMedia[instagram]" id="Instagram" class="form-control" placeholder="https://www.Instagram.com/" aria-describedby="instagram-label" aria-label="instagram" value="<%= user.socialMedia.instagram%>">
      <div class="valid-feedback">looks good</div>
    </div>
  </div>
  <!-- Twitter -->
  <div class="mb-3 col-md-6">
    <div class="input-group">
      <label for="floatingInput" class="form-label fs-6"></label>
      <span class="input-group-text" id="twitter-label"><i class="fab fa-twitter"></i></span>
      <input type="text" name="socialMedia[twitter]" id="twitter" class="form-control" placeholder="https://www.twitter.com/" aria-describedby="twitter-label" aria-label="twitter" value="<%= user.socialMedia.twitter %>">
      <div class="valid-feedback">looks good</div>
    </div>
  </div>
  <!-- Youtube -->
  <div class="mb-3 col-md-6">
    <div class="input-group">
      <label for="floatingInput" class="form-label fs-6"></label>
      <span class="input-group-text" id="youtube-label"><i class="fab fa-youtube"></i></span>
      <input type="text" name="socialMedia[youtube]" id="youtube" class="form-control" placeholder="https://www.Youtube.com/" aria-describedby="youtube-label" aria-label="youtube" value="<%= user.socialMedia.youtube %>">
      <div class="valid-feedback">looks good</div>
    </div>
  </div>
</div>