<button
  id="item2"
  type="button"
  class="btn btn-outline-greenSea bg-gradient ms-2"
  data-bs-toggle="modal"
  data-bs-target="#newPatient"
><i class="fa-solid fa-plus fa-xl pe-1"></i><i class="fa-solid fa-baby fa-xl"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="newPatient"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header">
        <img src="/assets/new patient.png" alt="" height="40px" />
        <h5 class="modal-title" id="staticBackdropLabel">Ajouter Fils / Foetus</h5>
        
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form
          class="row g-3 m-2 needs-validation"
          action="/patient/<%= patient.id %>/son"
          id="personal"
          method="POST"
          autocomplete="on"
          novalidate
        >
          <div class="form-floating col-12">
            <select
              id="patientRole"
              name="patient[relation]"
              class="form-select"
              onchange="toggleBebeInfo(this.value)"
              
            >
            <option class="option" value="Foetus" selected>Foetus</option>
            <option class="option" value="Fils" >Fils</option>
           
              
            </select>
            <label for="patientGender" class="form-label">Relation</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="row g-3" id="bebe-info">

          
          <div class="form-floating col-md-6">
            <input
              id="lastname"
              name="patient[lastname]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              autofocus
              autocomplete="on"
              
            />
            <label for="lastname" class="form-label">Nom</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input
              id="firstname"
              name="patient[firstname]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              autocomplete="on"
            />
            <label for="firstname" class="form-label">Prénom</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input
              id="mother"
              name="patient[mother]"
              style="text-transform: capitalize"
              type="text"
              class="form-control"
            />
            <label for="mother" class="form-label">Mère</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input
              id="father"
              name="patient[father]"
              style="text-transform: capitalize"
              type="text"
              class="form-control"
            />
            <label for="father" class="form-label">Père</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input id="patientBirthDate" name="patient[birthdate]" type="date"
            class="form-control" max="<%=moment().format('YYYY-MM-DD')%>"
            min="<%=moment("01/01/1900").format('YYYY-MM-DD')%>" />
            <label for="patientBirthDate" class="form-label"
              >Date de Naissance
            </label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <select id="bloodGroup" name="blood[groupe]" class="form-select">
              <option selected disabled value="">Groupe sanguin</option>
              <% for(groupe of bloodGroup){ %>
              <option class="option" value="<%= groupe %>"><%=groupe %></option>
              <% } %>
            </select>
            <label for="bloodGroup" class="form-label">Groupe sanguin</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <select id="rhesus" name="blood[rhesus]" class="form-select">
              <option selected disabled value="">Rhésus</option>
              <% for(rhesus of bloodRhesus){ %>
              <option class="option" value="<%= rhesus %>">+</option>
              <% } %>
            </select>
            <label for="rhesus" class="form-label">Rhésus</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating col-md-6">
            <input
              type="text"
              class="form-control"
              id="patientPhoneNumber"
              name="patient[phone]"
              required
              maxlength="10"
              minlength="10"
              value="<%= patient.phone%>"
              
            />
            <label for="patientPhoneNumber" class="form-label"
              >Téléphone 1</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input
              type="text"
              class="form-control"
              id="patientPhoneNumber2"
              name="patient[phone2]"
              maxlength="10"
              minlength="10"
              value="<%= patient.phone2%>"
              
            />
            <label for="patientPhoneNumber2" class="form-label"
              >Téléphone 2</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <select
              id="patientGender"
              name="patient[gender]"
              class="form-select"
            
            >
              <option selected disabled value="">Genre</option>
              <option class="option" value="Male">Male</option>
              <option class="option" value="Female">Female</option>
            </select>
            <label for="patientGender" class="form-label">Genre</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input
              type="text"
              class="form-control"
              id="wilaya"
              name="patient[wilaya]"
              value="<%= patient.wilaya%>"
              
            />
            <label for="wilaya" class="form-label">Wilaya</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating col-md-6">
            <input
              type="text"
              class="form-control"
              id="city" name="patient[city]"
          
              value="<%= patient.city%>"
              
            />
            <label for="city" class="form-label">Ville</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <select
              id="medecinref"
              name="patient[medecinref]"
              class="form-select"
            >
              <option class="option" value="" disabled selected>
                Medecin Ref
              </option>
              <% for(medecin of medecins ){ %>

              <option class="option" value="<%= medecin.lastname%>">
                Dr. <%= medecin.lastname %>
              </option>
              <% } %>
            </select>
            <label for="medecinref" class="form-label">Medecin Ref</label>
            <div class="valid-feedback">BIEN</div>
          </div>
        </div>
          <div class="modal-footer mt-4">
            <button
              type="button"
              class="btn btn-outline-lightCoral bg-gradient"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button class="btn btn-outline-greenSea bg-gradient">
              Ajouter
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $("#newPatient").on("shown.bs.modal", function () {
    $(this).find("[autofocus]").focus();
  });
</script>
