<button
  type="button"
  class="btn me-2 btn-outline-warning px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#edit-<%= patient.id %>"
>
  <i class="bi bi-pencil-fill"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="edit-<%= patient.id %>"
  
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modifier Patient</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          required
        ></button>
      </div>

      <div class="modal-body">
        <form
          action="/patient/<%= patient.id %>/?_method=PUT"
          id="personal"
          method="POST"
          class="needs-validation"
          novalidate
        >
          <div class="form-floating  mb-3">
            <input
            id="patientFirstName"
            name="patient[firstname]"
            placeholder="Prénom"
            type="text"
            class="form-control"
            required
            autofocus
            value="<%= patient.firstname %>"
            />
            <label for="patientFirstName" class="form-label">Prénom</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating  mb-3">
            <input
            id="patientLastName"
            name="patient[lastname]"
            type="text"
            placeholder="Nom"
            class="form-control"
            required
            value="<%= patient.lastname%>"
            />
            <label for="patientLastName" class="form-label">Nom</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating  mb-3">
            <input id="patientBirthDate" name="patient[birthdate]"
            placeholder="Date de Naissance" type="date" class="form-control" required
            value="<%= moment(patient.birthdate).format("YYYY-MM-DD")%>" />
            <label for="patientBirthDate" class="form-label">Date de Naissance</label>
          </div>
          <div class="form-floating  mb-3">
            <select
            id="patientGender"
            name="patient[gender]"
            class="form-select"
            required
            >
            <option disabled value="">Genre</option>
            <% if (patient.gender === 'Male'){%>
              <option class="option" value="Male" selected>Male</option>
              <option class="option" value="Female">Female</option>
              <% }else{ %>
                <option class="option" value="Male">Male</option>
                <option class="option" value="Female" selected>Female</option>
                <% } %>
              </select>
              <label for="patientGender" class="form-label">Genre</label>
              <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating  mb-3">
            <input
            type="text"
              class="form-control"
              id="patientPhoneNumber"
              placeholder="Téléphone"
              name="patient[phone]"
              required
              value="<%= patient.phone %>"
              />
              <label for="patientPhoneNumber" class="form-label">Téléphone</label>
              <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating mb-3">
            <select
              id="medeciref"
              name="patient[medecinref]"
              class="form-select"
              required
            >
              <option disabled value="" selected>Médecin Ref</option>
              <option class="option" value="/">/</option>
              <% for(medecin of medecins ){ %>

                <% if(patient.medecinref===medecin.lastname) {%> 
              <option class="option" value="<%= medecin.lastname%>" selected>Dr. <%= medecin.lastname.toUpperCase()%></option>
                <% } else { %>
                  <option class="option" value="<%= medecin.lastname%>">Dr. <%= medecin.lastname.toUpperCase()%></option>
                   <% } %>
              <% } %>
            </select>

            <label for="medecinref" class="form-label">Médecin Ref</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="modal-footer mt-3">
            <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
            >
            Annuler
          </button>
          <button type="submit" id="patient-register" class="btn btn-outline-warning">
            Modifier 
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
