<button
  id="item2"
  type="button"
  class="btn btn-outline-success bg-gradient ms-2"
  data-bs-toggle="modal"
  data-bs-target="#newPatient"
>
  Nouveau patient <i class="bi bi-person-plus-fill me-2"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="newPatient"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ajouter Patient</h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form
          class="row g-3 m-2 needs-validation"
          action="/patient"
          id="personal"
          method="POST"
          autocomplete="off"
          novalidate
        >
          <div class="form-floating col-md-6">
            <input
              id="patientLastName"
              name="patient[lastname]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              required
              autofocus
            />
            <label for="patientLastName" class="form-label">Nom</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input
              id="patientFirstName"
              name="patient[firstname]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              required
            />
            <label for="patientFirstName" class="form-label">Prénom</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input
              id="father"
              name="patient[father]"
              style="text-transform: capitalize"
              type="text"
              class="form-control"
            />
            <label for="father" class="form-label">Père</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input id="patientBirthDate" name="patient[birthdate]" type="date"
            class="form-control" max="<%=moment().format('YYYY-MM-DD')%>"
            min="<%= moment("01/01/1900").format('YYYY-MM-DD')%>" />
            <label for="patientBirthDate" class="form-label"
              >Date de Naissance
            </label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating col-md-6">
            <input
              type="text"
              class="form-control"
              id="patientPhoneNumber"
              name="patient[phone]"
              required
              maxlength="10"
            />
            <label for="patientPhoneNumber" class="form-label"
              >Téléphone 1</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input
              type="text"
              class="form-control"
              id="patientPhoneNumber2"
              name="patient[phone2]"
              maxlength="10"
            />
            <label for="patientPhoneNumber2" class="form-label"
              >Téléphone 2</label
            >
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <select
              id="patientGender"
              name="patient[gender]"
              class="form-select"
              required
            >
              <option selected disabled value="">Genre</option>
              <option class="option" value="Male">Male</option>
              <option class="option" value="Female">Female</option>
            </select>
            <label for="patientGender" class="form-label">Genre</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <input
              class="form-select"
              id="wilaya"
              name="patient[wilaya]"
              list="cities"
              placeholder="Wilaya"
              onchange="makeSubmenu(this.value, '')"
            />
            <datalist id="cities">
              <option class="option" value="">Ville</option>
              <% for (city of states) { %>
              <option class="option" value="<%= city.name %>">
                <%= city.id + " - " + city.name %>
              </option>
              <%} %>
            </datalist>
            <label for="wilaya" class="form-label">Wilaya</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating col-md-6">
            <select id="city" name="patient[city]" class="form-select">
              <option class="option" value="" disabled selected>Ville</option>
            </select>
            <label for="city" class="form-label">Ville</label>
            <div class="valid-feedback">BIEN</div>
          </div>
          <div class="form-floating col-md-6">
            <select
              id="medecinref"
              name="patient[medecinref]"
              class="form-select"
            >
              <option class="option" value="" disabled selected>
                Medecin Ref
              </option>
              <% for(medecin of medecins ){ %>

              <option class="option" value="<%= medecin.lastname%>">
                Dr. <%= medecin.lastname %>
              </option>
              <% } %>
            </select>
            <label for="medecinref" class="form-label">Medecin Ref</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="modal-footer mt-4">
            <button
              type="button"
              class="btn btn-outline-danger bg-gradient"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button class="btn btn-outline-success bg-gradient">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $("#newPatient").on("shown.bs.modal", function () {
    $(this).find("[autofocus]").focus();
  });
</script>
