<% layout('layouts/boilerplate')%>

<div class="container mt-3">
  <div class="col m-auto">
    <div class="container-fluid">
      <div class="mb-4 bg-light rounded-5 px-2">
        <div class="d-flex">
          <div class="col d-flex m-auto">
            <h2><%=patient.fullname %></h2>
            <div class="ms-2">
              <%- include("./consultation/new")%> <%- include("./edit")%> <%-
              include("./delete")%>
              <a
                class="btn btn-outline-secondary px-2 py-1 ms-2"
                href="/patient/generatepdf/<%=patient.id%>"
                target="_blank"
              >
                <i class="bi bi-printer-fill px-1 py-1"></i>
              </a>
            </div>
          </div>
          <div class="col-2 mt-2">
            <p>Age:</p>
            <p>Genre:</p>
            <p>Wilaya:</p>
            <p>Téléphone 1:</p>
            <p>Téléphone 2:</p>
            <p>Prochaine acte:</p>
            <p>Date:</p>
            <p>Medecin Ref:</p>
          </div>
          <div class="col-2 mt-2">
            <p><%=patient.age%></p>
            <p><%=patient.gender%></p>
            <p><%=patient.wilaya%></p>
            <p><%=patient.phone%></p>
            <p><%=patient.phone2%></p>
            <p><%=patient.nextacte.acte%></p>
            <% if (patient.nextacte.date!="Rien" ){%>
            <p><%=moment(patient.nextacte.date).format("DD/MM/YYYY")%></p>
            <% }else{ %>
            <p>/</p>
            <% } %>
            <p><%=patient.drlastname %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="d-flex">
    <input
      id="search"
      class="form-control mb-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
  </form>
  <div class="table-responsive">
    <table
      class="table table-striped table-hover table-borderless text-center sortable"
    >
      <thead class="table-success">
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Acte</th>
          <th scope="col">Medecin</th>
          <th scope="col">Technicien</th>
          <th scope="col">Date acte</th>
          <th id="hide" scope="col">Diagnostique</th>
          <th id="hide" scope="col">Confirmé</th>
          <th id="hide" scope="col">Action</th>
        </tr>
      </thead>
      <tbody id="tablebody">
        <% var i=1 %> <% for (consultation of patient.sortedConsultation){%>
        <tr>
          <th scope="row"><%= i%> <% i=i+1; %></th>
          <td class="data"><%= consultation.acte%></td>
          <td class="data">Dr. <%=consultation.medecin %></td>
          <td class="data"><%= consultation.technicien %></td>
          <td class="data">
            <%=moment(consultation.date).format("DD/MM/YYYY")%>
          </td>

          <td class="text-center data"><%-include("./commentViewer")%></td>
          <% if (consultation.status==="oui"){%>
          <th class="p-3">
            <span class="rounded-pill badge bg-success bg-gradient">OUI</span>
          </th>
          <%}else{%>
          <th class="p-3">
            <span class="rounded-pill badge bg-lightCoral bg-gradient"
              >NON</span
            >
          </th>
          <%}%>
          <th>
            <div class="d-flex justify-content-center align-items-center">
              <%- include("./consultation/edit")%> <%-
              include("./consultation/delete")%>
              <button
                class="btn btn-outline-secondary px-2 py-1 ms-2"
                onclick="generatePatientActPDF()"
              >
                <i class="bi bi-printer-fill px-1 py-1"></i>
              </button>
            </div>
          </th>
        </tr>
        <% }%>
      </tbody>
    </table>
  </div>
</div>
