<% layout('layouts/boilerplate')%>


<div class="container mt-3">

    <div class="col m-auto">
        <div class="container-fluid">

            <div class=" mb-4 bg-light rounded-5 px-2">

                <div class="d-flex">
                    <div class="col d-flex m-auto">
                        <h2>
                            <%=patient.fullname.toUpperCase() %>
                           
                        </h2>
                        <div class="ms-2"><%- include("./consultation/new")%>
                            <%- include("./edit")%>
                            <%- include("./delete")%>
                        </div>
                    </div>
                    <div class="col-2 mt-2">
                        <p>Age:</p>
                        <p>Téléphone:</p>
                        <p>Prochaine acte:</p>
                        <p>Date:</p>
                    </div>
                    <div class="col-2 mt-2">
                        <p><%=patient.age%> ans</p>
                        <p><%=patient.phone%> </p>
                        <p><%=patient.nextacte.acte%> </p>
                        <% if (patient.nextacte.date!="Rien"){%>
                        <p><%=moment(patient.nextacte.date).format("DD/MM/YYYY")%> </p>
                        <% }else{ %>
                        <p>/</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <form class="d-flex">
        <input id="search" class="form-control mb-2" type="search" placeholder="Search" aria-label="Search"  />

    </form>
    <table class="table table-striped table-hover table-borderless text-center sortable">
        <thead class="table-success">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Acte</th>
                <th scope="col">Medecin</th>
                <th scope="col">Date acte</th>
                <th id="hide" scope="col">Commentaire</th>
                <th id="hide" scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            <% var i=1 %>
            <% for (consultation of patient.sortedConsultation){%>
            <tr>
                <th scope="row">
                    <%= i%>
                    <% i=i+1; %>
                </th>
                <td class="data">
                    <%= consultation.acte%>
                </td>
                <td class="data">
                    <%=consultation.medecin%>
                </td>
                <td class="data">
                    <%=moment(consultation.date).format("DD/MM/YYYY")%>
                </td>

                <td class="text-center data">
                    <%-include("./commentViewer")%>
                </td>
                <th>
                    <div class="d-flex justify-content-center align-items-center">
                        <%- include("./consultation/edit")%>
                        <%- include("./consultation/delete")%>
                      <!-- <form class="" id="delete-form" action="/patient/<%=patient.id %>/acte/<%=consultation.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-outline-danger px-2 py-1" type="submit">
                          <i class="bi bi-trash-fill"></i>
                        </button>
                      </form> -->
                    </div>
                  </th>

            </tr>
            <% }%>
        </tbody>
    </table>
</div>
</div>