<% layout('layouts/boilerplate')%>
<div class="container-fluid mt-3">
  <div class="col m-auto bg-light shadow-sm rounded-5 px-2">
    <div class="container-fluid">
      <div class="mb-4">
        <div class="d-flex">
          <div class="col d-flex m-auto">
            <h2><%=patient.fullname %></h2>
            <div class="ms-2">
              <%- include("./consultation/new")%>
              <%- include("./edit")%> 
              <%- include("./delete")%>
              <a
                class="btn btn-outline-secondary px-2 py-1 ms-2"
                href="/patient/generatepdf/<%=patient.id%>"
                target="_blank"
              >
                <i class="bi bi-printer-fill px-1 py-1"></i>
              </a>
            </div>
          </div>
          <div class="col-3 mt-2 border-start">
            <p class="">
              <span class="fw-bold">Date de Naissance:</span> <span> <%=moment(patient.birthdate).format("DD-MM-YYYY")%></span>
            </p>
            <p>
              <span class="fw-bold"> Genre:</span>
              <span> <%=patient.gender%></span>
            </p>
            <p>
              <span class="fw-bold">Wilaya:</span>
              <span> <%= (!patient.wilaya)? "/":patient.wilaya %></span>
            </p>
            <p>
              <span class="fw-bold">Ville:</span>
              <span> <%= (!patient.city)? "/":patient.city %></span>
            </p>
            <p>
              <span class="fw-bold">Téléphone 1:</span>
              <span> <%=patient.phone%></span>
            </p>
            <p>
              <span class="fw-bold">Téléphone 2:</span>
              <span> <%=patient.phone2%></span>
            </p>
            <p>
              <span class="fw-bold">Prochaine acte:</span>
              <span> <%=patient.nextacte.acte%></span>
            </p>
            <% if (patient.nextacte.date!="Rien" ){%>
            <p>
              <span class="fw-bold">Date:</span>
              <span
                ><%=moment(patient.nextacte.date).format("DD/MM/YYYY")%></span
              >
            </p>
            <% }else{ %>
            <p><span class="fw-bold">Date:</span> /</p>
            <% } %>
            <p>
              <span class="fw-bold">Medecin Ref:</span>
              <span><%=patient.drlastname %></span>
            </p>
          </div>
          <div class="col-2 mt-2 border-start justify-content-end">
            <p>
              <span class="fw-bold">Groupage:</span>
              <span> <%=patient.groupage%></span>
            </p>
            <p>
       
              <span class="fw-bold">Saturation:</span>
              <span> <%= (patient.consultation.length>=1) ? patient.sortedConsultation[patient.consultation.length-1].saturation+" %":"/"%></span>
            </p>
            <p>
              <span class="fw-bold">TA:</span>
              <span> <%=(patient.consultation.length>=1) ? patient.sortedConsultation[patient.consultation.length-1].ta:"/"%></span>
            </p>
            <p>
              <span class="fw-bold">Poids:</span>
              <span> <%= (patient.consultation.length>=1) ? patient.sortedConsultation[patient.consultation.length-1].poids+" Kg":"/"%> </span>
            </p>
            <p>
              <span class="fw-bold">Taille:</span>
              <span> <%= (patient.consultation.length>=1) ? patient.sortedConsultation[patient.consultation.length-1].taille+" cm":"/"%></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form class="d-flex shadow-sm">
    <input
      id="search"
      class="form-control mb-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
  </form>
  <div class="table-responsive shadow-sm">
    <table
      class="table table-striped table-hover table-borderless text-center sortable"
    >
      <thead class="table-success">
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Acte</th>
          <th scope="col">Medecin</th>
          <th scope="col">Technicien</th>
          <th scope="col">Date/Heure acte</th>
          <th id="hide" scope="col">Remarque</th>
          <th id="hide" scope="col">Compte Rendu</th>
          <th id="hide" scope="col">Confirmé</th>
          <th id="hide" scope="col">Action</th>
        </tr>
      </thead>
      <tbody id="tablebody">
        <% var i=1 %> 
        <% for (consultation of patient.sortedConsultation){%>
        <tr>
          <th scope="row"><%= i%> <% i=i+1; %></th>
          <td class="data"><%= consultation.acte%></td>
          <td class="data">Dr. <%=consultation.medecin %></td>
          <td class="data"><%= consultation.technicien %></td>
          <td class="data">
            <%=moment(consultation.date).format("DD/MM/YYYY")%> - <%= consultation.time %>
          </td>

          <td class="text-center data"><%-include("./commentViewer")%></td>
          <th>
            <% if(!consultation.compterendu.isEmpty){%>
            <% if(!currentUser.privileges.includes('assistant') && !currentUser.privileges.includes('technicien')){ %>
            <%-include("./consultation/comptRendu/editCompteRendu",{i})%>
            <%-include("./consultation/comptRendu/deleteCompteRendu",{i})%>
            <% } %>
            <button
              class="btn btn-outline-secondary px-2 py-1 ms-2"
              onclick="printCompteRendu('<%=consultation.id%>','non')"
            >
              <i class="bi bi-eye-fill px-1 py-1"></i>
            </button>
            <!-- delete comptrendu -->
            <% }else if(!currentUser.privileges.includes('assistant') && !currentUser.privileges.includes('technicien')) {%>
             
            <%-include("./consultation/comptRendu/addCompteRendu",{i})%>
            <% }%>
          </th>
          <% if (consultation.status==="oui"){%>
          <th class="p-3">
            <span class="rounded-pill badge bg-success bg-gradient">OUI</span>
          </th>
          <%}else{%>
          <th class="p-3">
            <span class="rounded-pill badge bg-lightCoral bg-gradient">
              NON
            </span>
          </th>
          <%}%>

          <th>
            <div class="d-flex justify-content-center align-items-center">
              <% if(!consultation.compterendu.isEmpty){%>
              <% if(!currentUser.privileges.includes('assistant') && !currentUser.privileges.includes('acheteur')){ %>
                <%- include("./consultation/edit")%> 
                <%- include("./consultation/delete")%>
                <% }else{ %>
                  <%- include("./consultation/edit")%> 
                  <% }}else{ %>
                    <%- include("./consultation/edit")%> 
                    <%- include("./consultation/delete")%>
                  <% } %>
            </div>
          </th>
          <%  %>
        </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</div>
<script>
  let reports = <%- JSON.stringify(reports) %>;
</script>
<script>
  let selectedPatient = <%- JSON.stringify(patient) %>;
</script>

<script>
  let states = <%- JSON.stringify(states) %>;
</script>
