<button
  type="button"
  class="btn me-2 btn-outline-greenSea px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#detail-<%= article.id %>"
>
  <i class="bi bi-plus-lg"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="detail-<%= article.id %>"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Ajouter au <%=materiel.designation%> <%=article.marque%>
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form
          action="/materiel/<%=materiel.id%>/articles/<%=article.id%>"
          method="POST"
          class="row needs-validation"
          novalidate
        >
          <div class="form-floating mb-3 col-12">
            <input
              id="articleserie"
              name="detail[serie]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              autofocus
            />
            <label for="articlelserie" class="form-label">N° Série</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="form-floating mb-3 col-12">
            <input
              class="form-control"
              type="date"
              id="ddp"
              name="detail[ddp]"
              placeholder="DDP"
            />
            <label for="ddp" class="form-label fs-6">DDP</label>
            <div class="valid-feedback">BIEN</div>
          </div>

          <div class="modal-footer mt-4">
            <button
              type="button"
              class="btn btn-outline-lightCoral bg-gradient"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button class="btn btn-outline-greenSea">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $("#article-<%= materiel.id %>").on("shown.bs.modal", function () {
    $(this).find("[autofocus]").focus();
  });
</script>
