<!-- Button to trigger modal -->
<button type="button" class="me-3 btn btn-outline-warning bg-gradient px-3 py-2" data-bs-toggle="modal" data-bs-target="#edit-<%= fournisseur.id %>">
  <i class="bi bi-pencil-fill"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="edit-<%= fournisseur.id %>" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Modifier Fournisseur
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form class="row g-4 needs-validation" action="/fournisseur/<%= fournisseur.id %>/?_method=PUT" id="personal" method="POST" novalidate>

          <!-- Name Field -->
          <div class="form-floating col-md-6 col-sm-12">
            <input id="name" name="fournisseur[name]" type="text" class="form-control" style="text-transform: capitalize" required value="<%= fournisseur.name %>" />
            <label for="name" class="form-label">Nom <i class="bi bi-person-fill"></i></label>
          </div>

          <!-- Wilaya (Region) Field -->
          <div class="form-floating col-md-6 col-sm-12">
            <input class="form-control" id="wilaya" name="fournisseur[wilaya]" list="cities" onchange="makeSubmenu(this.value,'<%=fournisseur.id%>')" value="<%= fournisseur.wilaya %>" />
            <datalist id="cities">
              <option value="">Ville</option>
              <% for (city of states) { %>
              <option value="<%= city.name %>"><%= city.id + " - " + city.name %></option>
              <%} %>
            </datalist>
            <label for="wilaya" class="form-label">Wilaya <i class="bi bi-geo-alt-fill"></i></label>
          </div>

          <!-- City Field -->
          <div class="form-floating col col-sm-12 mb-3">
            <select id="city<%=fournisseur._id%>" name="fournisseur[city]" class="form-select">
              <option value="" disabled selected>Ville</option>
              <option value="<%= fournisseur.city %>" selected><%= fournisseur.city %></option>
            </select>
            <label for="city<%=fournisseur.id%>" class="form-label">Ville <i class="bi bi-house-door-fill"></i></label>
          </div>
            <!-- Postal Code -->
            <div class="form-floating col col-sm-12">
              <input type="text" class="form-control" id="postalCode" name="fournisseur[postalCode]" value="<%=fournisseur.postalCode%>" maxlength="10" required />
              <label for="postalCode" class="form-label"><i class="bi bi-envelope me-2" ></i>Code postal</label>
              <div class="valid-feedback">BIEN</div>
            </div>
  

          <!-- Phone Fields -->
          <div class="input-group form-floating col col-sm-12 mb-3">
            <input type="text" class="form-control" id="phone1" name="fournisseur[phone]" maxlength="20" value="<%=fournisseur.phone%>" />
            <button type="button" class="btn btn-outline-primary bg-gradient" id="addPhoneButtonedit">
              <i class="bi bi-telephone-plus-fill"></i></button>
            <label for="phone1" class="form-label">Téléphone <i class="bi bi-phone-fill"></i></label>
          </div>

        

          <!-- Additional Phone Numbers -->
          <div class="mt-3 row" id="phoneContaineredit">
          </div>
          <div class="form-floating col-md-6 col-sm-12">
            <input type="text" class="form-control" id="fax" name="fournisseur[fax]" maxlength="20" value="<%=fournisseur.fax%>" />
            <label for="fax" class="form-label">Fax <i class="bi bi-file-earmark-text-fill"></i></label>
          </div>

          <!-- Email Field -->
          <div class="form-floating col-md-6 col-sm-12">
            <input type="email" class="form-control" id="email" name="fournisseur[email]" style="text-transform: lowercase" value="<%= fournisseur.email %>" />
            <label for="email" class="form-label">Email <i class="bi bi-envelope-fill"></i></label>
          </div>

          <!-- Website Field -->
          <div class="form-floating col-md-6 col-sm-12">
            <input type="text" class="form-control" id="website" name="fournisseur[website]" value="<%= fournisseur.website %>" />
            <label for="website" class="form-label">Site Web <i class="bi bi-globe2"></i></label>
          </div>

          <!-- Billing Information -->
          <span class="text-muted mt-3">Données de facturation</span>
          <hr>

          <!-- NRC (Commercial Register) Field -->
          <div class="form-floating col-md-6 col-sm-12">
            <input type="text" class="form-control" id="nrc" name="fournisseur[nrc]" value="<%= fournisseur.nrc %>" />
            <label for="nrc" class="form-label">N° RC <i class="bi bi-card-list"></i></label>
          </div>

          <!-- NIF (Tax Identification Number) Field -->
          <div class="form-floating col-md-6 col-sm-12">
            <input type="text" class="form-control" id="nif" name="fournisseur[nif]" value="<%= fournisseur.nif %>" />
            <label for="nif" class="form-label">NIF <i class="bi bi-briefcase-fill"></i></label>
          </div>

          <!-- N° Article (Business License Number) Field -->
          <div class="form-floating col-md-6 col-sm-12">
            <input type="text" class="form-control" id="narticle" name="fournisseur[narticle]" value="<%= fournisseur.narticle %>" />
            <label for="narticle" class="form-label">N° Article <i class="bi bi-file-earmark-text"></i></label>
          </div>

          <!-- NIS (Social Insurance Number) Field -->
          <div class="form-floating col-md-6 col-sm-12">
            <input type="text" class="form-control" id="nis" name="fournisseur[nis]" value="<%= fournisseur.nis %>" />
            <label for="nis" class="form-label">NIS <i class="bi bi-shield-lock-fill"></i></label>
          </div>

          <div class="modal-footer mt-3">
            <button type="button" class="btn btn-outline-lightCoral bg-gradient" data-bs-dismiss="modal">
              Annuler
            </button>
            <button type="submit" id="fournisseur-edit" class="btn btn-outline-warning bg-gradient">
              Modifier <i class="bi bi-save-fill"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $("#edit-<%= fournisseur.id %>").on("shown.bs.modal", function() {
    $(this).find("[autofocus]").focus();
  });

  let mobiles = <%- JSON.stringify(fournisseur.mobile) %>
</script>