<!DOCTYPE html>
<html>
  <%- include("./head")%>

  <body class="d-flex flex-column">
    <%- include("../partials/navbar")%>
    <main class=""><%- include("../partials/flash")%> <%- body %></main>
    <%- include("./imports")%>
</html>
