<button
  type="button"
  class="me-2 btn btn-outline-warning bg-gradient px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#edit-<%= detail.id %>"
>
  <i class="bi bi-pencil-fill"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="edit-<%= detail.id %>"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modifier N° <%=detail.serie %></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          required
        ></button>
      </div>

      <div class="modal-body">
        <form
          class="row g-3 needs-validation"
          action="/materiel/<%=materiel.id%>/articles/<%=article.id%>/<%=detail.id%>?_method=PUT"
          id="personal"
          method="POST"
          novalidate
        >
        
          <div class="form-floating mb-3 col-12">
            <input
              id="articleserie"
              name="detail[serie]"
              type="text"
              class="form-control"
              style="text-transform: capitalize"
              value="<%= detail.serie %>"
              autofocus
            />
            <label for="articlelserie" class="form-label">N° Série</label>
            <div class="valid-feedback">BIEN</div>
          </div>
         
          <div class="form-floating mb-3 col-12">
            <input
              id="articleddp"
              name="detail[ddp]"
              type="date"
              class="form-control"
              placeholder="DDP"
              value="<%= moment(detail.ddp).format("YYYY-MM-DD")%>"
            />
            <label for="articlelserie" class="form-label fs-6">DDP</label>
            <div class="valid-feedback">BIEN</div>
          </div>
         

          <div class="modal-footer mt-3">
            <button
              type="button"
              class="btn btn-outline-danger"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button
              type="submit"
              id="article-edit"
              class="btn btn-outline-warning bg-gradient"
            >
              Modifier
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $("#edit-<%= detail.id %>").on("shown.bs.modal", function () {
    $(this).find("[autofocus]").focus();
  });
</script>
