<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <div>
      <div>
        <h1>Patient Liste</h1>
        <table>
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
              <th scope="col">Téléphone</th>
              <th scope="col">Dérniere acte</th>
              <th scope="col">Prochaine acte</th>
              <th scope="col">Ajouter Acte</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% var i=1 %> <% for (patient of patients){%>
            <tr>
              <th scope="row"><%= i%><% i=i+1; %></th>
              <td><%= patient.lastname.toUpperCase()%></td>
              <td><%=patient.firstname.toUpperCase()%></td>
              <td><%=patient.age%></td>
              <td><%=patient.gender%></td>
              <td><%=patient.phone%></td>
              <td><%=patient.lastacte.acte%></td>
              <td><%=patient.nextacte.acte%></td>
              <% }%>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
