<button
  type="button"
  class="btn btn-outline-greenSea bg-gradient px-2 py-1"
  data-bs-toggle="modal"
  data-bs-target="#article-<%= materiel.id %>"
>
  <i class="bi bi-plus-lg"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="article-<%= materiel.id %>"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content rounded-4 shadow-lg">
      <div class="modal-header text-white bg-greenSea bg-gradient">
        <h5 class="modal-title fw-bold" id="staticBackdropLabel">
          Ajouter un Article à <%=materiel.designation%> (<%=materiel.code%>)
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body bg-light">
        <form
          action="/materiel/<%=materiel.id%>/article"
          method="POST"
          class="row g-3 needs-validation"
          novalidate
          autocomplete="off"
        >
          <!-- Form Inputs -->
          <div class="col-sm-12 col-md-6">
            <label for="etat" class="form-label">
              <i class="bi bi-shield-check"></i> Etat
            </label>
            <select
              id="etat"
              name="article[etat]"
              class="form-select"
              autofocus
              style="border-radius: 10px;"
            >
              <option value="Reçu" selected>Reçu</option>
              <option value="Commandé">Commandé</option>
              <option value="Retour">Retour</option>
            </select>
          </div>

          <div class="col-sm-12 col-md-6">
            <label for="articlelot" class="form-label">
              <i class="bi bi-barcode"></i> N° Lot
            </label>
            <input
              id="articlelot"
              name="article[lot]"
              type="text"
              class="form-control rounded-pill"
              style="text-transform: capitalize;"
              autocomplete="off"
            />
          </div>

          <div class="col-sm-12 col-md-6">
            <label for="articlemarque" class="form-label">
              <i class="bi bi-building"></i> Marque
            </label>
            <input
              id="articlemarque"
              name="article[marque]"
              type="text"
              class="form-control rounded-pill"
              style="text-transform: capitalize;"
            />
          </div>

          <div class="col-sm-12 col-md-6">
            <label for="dateachat" class="form-label">
              <i class="bi bi-calendar-date"></i> Date d'achat
            </label>
            <input
              class="form-control rounded-pill"
              type="date"
              id="dateachat"
              name="article[dateachat]"
            />
          </div>

          <div class="col-sm-12 col-md-6">
            <label for="fournisseur" class="form-label">
              <i class="bi bi-person-badge"></i> Fournisseur
            </label>
            <input
              class="form-control rounded-pill"
              id="fournisseur"
              name="article[fournisseur]"
              list="fournisseurs"
              required
            />
            <datalist id="fournisseurs">
              <% for (fournisseur of fournisseurs) { %>
              <option value="<%= fournisseur.name %>">
                <%= fournisseur.name %>
              </option>
              <%} %>
            </datalist>
          </div>

          <div class="col-sm-12 col-md-6">
            <label for="articlebc" class="form-label">
              <i class="bi bi-receipt"></i> BC
            </label>
            <input
              id="articlebc"
              name="article[bc]"
              type="number"
              class="form-control rounded-pill"
            />
          </div>

          <div class="col-sm-12 col-md-6">
            <label for="articlebl" class="form-label">
              <i class="bi bi-receipt-cutoff"></i> BL
            </label>
            <input
              id="articlebl"
              name="article[bl]"
              type="number"
              class="form-control rounded-pill"
            />
          </div>

          <div class="col-sm-12 col-md-6">
            <label for="articlefc" class="form-label">
              <i class="bi bi-cash-stack"></i> FC
            </label>
            <input
              id="articlefc"
              name="article[fc]"
              type="number"
              class="form-control rounded-pill"
            />
          </div>

          <!-- Footer Buttons -->
          <div class="modal-footer d-flex justify-content-end mt-3">
            <button
              type="button"
              class="btn btn-outline-lightCoral rounded-pill px-4 py-2"
              data-bs-dismiss="modal"
            >
              Annuler
            </button>
            <button
              type="submit"
              class="btn btn-outline-greenSea rounded-pill px-4 py-2"
              
            >
              Ajouter
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
